<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta th:replace="frontend/fragment/style"/>
    <title th:text="${settings.website_title} + '- 留言'"></title>
</head>
<body class="animated fadeIn">
<div id="message-app">
    <bmy-header :params="params"></bmy-header>
    <hr class="header-hr">
    <bmy-block :quote="quote"></bmy-block>
    <bmy-message-page>
        <bmy-message-comment v-show="params.is_open_message == 1" slot="post" :su="su"></bmy-message-comment>
        <bmy-comment-list slot="comment" :comments="messages" :tips="params.message_panel_words"
                          :re="params.is_open_message == 1 && su != null"></bmy-comment-list>
        <bmy-info slot="info" :utext="params.info_label" :info="showInfoLabel" :qq="params.qq_login"
                  :su="su"></bmy-info>
        <bmy-search slot="search"></bmy-search>
        <bmy-cate :cates="cates" slot="cate"></bmy-cate>
        <bmy-tab :tabs="tabs" slot="tags"></bmy-tab>
    </bmy-message-page>
    <bmy-footer :words="params.footer_words"></bmy-footer>
</div>
<div th:replace="frontend/fragment/script"></div>
<script src="/static/assets/js/frontend/svg.js"></script>
<script th:inline="javascript">
    layui.use(['layedit', 'laypage', 'code'], function () {
        BMY.layedit = layui.layedit;
        BMY.laypage = layui.laypage;
        layui.code({
            about: false
        });
        BMY.editor = BMY.layedit.build('comment-input', {
            tool: ['face', '|', 'left', 'center', 'right', 'link', 'unlink']
            , height: 150
        });
        BMY.laypage.render({
            elem: $(".comment-page")
            , count: [[${messages.totalCount}]]
            , layout: ['prev', 'next']
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第 ' + obj.curr + ' 页');
                    $.post("/message/lists", {
                        pageNo: obj.curr
                    }, function (cs) {
                        BMY.messageVm.messages = cs;
                    })
                }
            }
        });
    });

    BMY.messageVm = new Vue({
        el: "#message-app",
        data: {
            params: [[${settings}]]
            , cates: [[${cates}]]
            , tabs: [[${tags}]]
            , su: [[${su}]]
            , showInfoLabel: true
            , messages: [[${messages}]]
            , quote: {
                showText: true
                , text:
                '<span class="layui-breadcrumb">' +
                '   <a href="/">网站首页</a>' +
                '   <a href="/message">网友留言</a>' +
                '   <a><cite>发表留言</cite></a>' +
                '</span>'
            }
        },
        mounted: function () {
            BMY.stickyIt();
            BMY.affix = new hcSticky("#affix-side", {
                stickTo: '#message-body'
                , queries: {980: {disable: true}}
                , top: 75
                , onStart: function () {
                    if (!BMY.sticky()) {
                        BMY.affix.destroy();
                    }
                }
            })
        }
    })
</script>
<script>
    layui.use(['element'], function () {
        var element = layui.element;
    });

</script>
</body>
</html>